services:
 mysql:
  image: mysql:8.0.39
  container_name: mysql_container
  command: mysqld --default-authentication-plugin=mysql_native_password
  restart: always
  environment: 
    TZ: America/Sao_Paulo
    MYSQL_ROOT_PASSWORD: ana.eliza12
    MYSQL_DATABASE: eurofarma
    MYSQL_ROOT_HOST: '%'
    MYSQL_TCP_PORT: 3307
  ports:
   - "3307:3307"
  networks:
   - eurofarma-network
  volumes:
  - db_data:/var/lib/mysql
  - ./database/:/docker-entrypoint-initdb.d/
  healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
 
 api-eurofarma:
  image: anaeliza12/api-eurofarma
  restart: always
  build: .
  working_dir: /api-eurofarma
  environment:
    TZ: America/Sao_Paulo
    SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3307/eurofarma?useUnicode=true&characterEncoding=utf8mb4&serverTimezone=UTC
    SPRING_DATASOURCE_USERNAME: root
    SPRING_DATASOURCE_PASSWORD: ana.eliza12
  container_name: api_eurofarma_container
  volumes:
  - ./src/main/java:/usr/src/app/data
  ports:
  - "8080:8080"
  command: mvn spring-boot:run
  networks:
   - eurofarma-network
  depends_on:
   mysql:
    condition: service_healthy
    
volumes:
  db_data:
  
networks:
  eurofarma-network:
